.cardContainer {
  display: flex;
  justify-content: center;
  color: white;
  flex-wrap: wrap;
  min-height: 300px;
  margin: 30px 0px;
}

.card {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.title {
  color: yellow;
  display: flex;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.button {
  padding: 10px 16px;
  background-color: white;
  border: none;
  border-radius: 4px;
  margin: 10px;

  height: auto;
  width: 100px;
  transition: all 0.3s;
}

.button:disabled {
  background-color: yellow;

  background-color: lightgrey;
  color: #666666;
}

.button:hover {
  background-color: yellow;
}
